[submodule "pages/cushion"]
	path = pages/cushion
	url = https://stefanjudis@github.com/Zoddy/cushion.git
[submodule "pages/cushion-cli"]
	path = pages/cushion-cli
	url = https://stefanjudis@github.com/stefanjudis/cushion-cli.git
