nav {
  background-color: $cushionDarkGreenWithAlpha;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0 0 0.5em #000;
  color: #fff;
  height: 1.25em;
  left: 1%;
  position: fixed;
  top: 0;
  width: 98%;

  z-index: 2;

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style-type: none;

    margin: 0;

    padding: 0;
  }

  li {
    border-radius: 0 0 0.5em 0.5em;
    color: #fff;
    display: block;
    float: left;

    font-size: 0.75em;
    font-weight: bold;

    height: 1.5em;

    margin: 0 1.5em 0 0;
    padding: 0.25em 1em;


    // home link
    &:first-child {
      margin: 0 6em 0 0.5em;
    }

    &:hover {
      @include animation(menuItem, 0.2s);

      background-color: #fff;
      box-shadow: 0 0 0.5em #000;
      color: $cushionDarkGreen;

      a {
        @include animation(menuLink, 0.2s);

        color: $cushionDarkGreen;
      }
    }
  }
}
