@include keyframes(menuItem) {
  0% {
    background-color: transparent;
    box-shadow: none;
  }

  100% {
    background-color: #fff;
    box-shadow: 0 0 0.5em #000;
  }
}

@include keyframes(menuLink) {
  0% {
    color: #fff;
  }

  100% {
    color: $cushionDarkGreen;
  }
}


